* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  padding: 20px 20px 0 20px;
  width: 100%;
  height: 100vh;
}

/**************************  
General Styles
***************************/
.uppercase {
  text-transform: uppercase;
}

/**************************  
Banner Section
***************************/
.image-section {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.30)),url(https://images.unsplash.com/photo-1565182999561-18d7dc61c393?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjQxNDUyfQ&w=1920);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  width: 100%;
}

/**************************  
Navigation Section and Header
***************************/
.navbar {
  position: absolute;
  /* margin: 0 20px 20px 20px; */
  width: auto;
}

.navbar-brand img {
  width: 150px;
}

.nav-logo {
  width: 150px;
}

.nav-link {
  color: #fff !important;
  font-size: 13px !important;
  margin: 5px 0;
}

.nav-btn {
  background-color: #A59139;
  padding: 8px 20px !important;
  margin-left: 10px;
  border-radius: 20px;
}

.banner {
  height: 500px;
  justify-content: center;
}

.header-text {
  color: #fff;
  letter-spacing: 8px;
}

.search-box {
  width: 100%;
  max-width: 200px;
  margin-top: 10px;
}

.search-box input {
  font-size: 0.8rem;
}

/**************************  
Marketing Plan Section
***************************/
.marketing-plan-section {
  text-align: center;
  margin: 50px auto;
  width: 80%;
}

.marketing-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.marketing-card {
  margin: 20px auto;
}

.marketing-card-img img {
  width: 100px;
  height: 100px;
}


/**************************  
Media Queries
***************************/
/* Medium Devices (tablets, 720px) */
@media (min-width: 720px) {
  /**************************  
  Navigation Section and Header
  ***************************/
  .search-box {
    max-width: 300px;
  }
}

/* Large Devices (desktops, 1024px) */
@media (min-width: 1024px) {
  /**************************  
  Marketing Plan Section
  ***************************/
  .marketing-cards {
    flex-direction: row;
    width: 100%;
  }

  .marketing-card {
    width: 250px;
  }

}

/* Extra Large Devices (large desktops, 1920) */
@media (min-width: 1920px) {

}
